:root {
    --backg-color: #FAF8EE;
    --orang-color: #F2762E;
    --black-color: #242426;
    --white-color: #FFFFFF;
    --green-color: #399238;
    --muted-color: #333333;
}

BODY {
    color: var(--muted-color);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--backg-color);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


.anchorBlock {
    height: 70px;
}

.navbar-toggler,
.navbar-toggler:active.focus,
.navbar-toggler:active:focus,
.navbar-toggler:focus {
    border: 0;
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.navbar-nav,
.container-fluid {
    align-items: center;
}

.nav-link {
    margin: 0px 10px;
}

.btn-mainMenu {
    margin-top: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--white-color);
    width: 90px;
    height: 42px;
    background-color: var(--orang-color);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

.btn-orangLight {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--white-color);
    width: 116px;
    height: 48px;
    background-color: var(--orang-color);
    border: 0;
    box-shadow: 0px 4px 25px rgba(242, 118, 46, 0.5);
    border-radius: 34px;
}

.btn-orangLight:hover,
.btn-orangLight:focus,
.btn-mainMenu:hover,
.btn-mainMenu:focus {
    color: var(--black-color);
    background-color: var(--orang-color);
}

.whiteGradient {
    background-color: var(--backg-color);
    background: linear-gradient(to top, var(--backg-color) 0%, var(--white-color) 60%, var(--backg-color) 100%);
}

h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
    h1 {
        font-size: 60px;
    }
}

h2 {
    width: 100%;
    font-weight: 700;
    font-size: 26px;
}

.size_h2 {
    width: 100%;
    font-weight: 700;
    font-size: 26px;
}

.slide1 {
    background-color: #ffed9a;
}

.slide2 {
    background-color: #fecfd5;
}

.slide3 {
    background-color: #e09cf8;
}

.slidesSettings {
    width: 370px;
    border-radius: 50px;
}

.slideImgOffsetUp {
    margin-top: -40px;
}

.slidesblockOffsetDown {
    margin-top: 40px;
}

.minMargin {
    margin-top: -10px;
}

.carousel-caption {
    font-weight: 700;
    font-size: 14px;

    line-height: 100%;
    color: var(--black-color);
    padding-top: 186px;
}

.orang {
    font-size: 36px;
    font-weight: 700;
    color: var(--orang-color);
    text-shadow: none;
}

@media (min-width: 1200px) {
    .orang {
        font-size: 28px;
    }

    #blockWithPersents {
        background-image: url(../images/3/leaf_shadow.png);
        background-repeat: no-repeat;
    }
}

.white {
    color: var(--white-color);
}

.bullet {
    font-size: 26px !important;
}

#green-block {
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 40px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 60px;
    margin-bottom: -140px;
    padding-bottom: 120px;
}

.green_imgMoveUp {
    margin-top: -70px;
}

.topOffset_bigPlate {
    margin-top: -90px;
}

#yellow-block {
    color: var(--white-color);
    background-color: var(--orang-color);
    border-radius: 40px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 100px;
}

.yellow_imgMoveUp {
    margin-top: -100px;
}

.startHDG {
    margin-left: -50px;
}

.spaceHDG {
    padding-left: 52px;
}

.orangText {
    color: var(--orang-color);
}

.accordion-item {

    background-color: var(--backg-color) !important;
}

.accordion-body {
    border-bottom-left-radius: 35px !important;
    border-bottom-right-radius: 35px !important;
    background-color: var(--orang-color) !important;
    border: none;
}

.s-btn {
    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
    background-color: var(--orang-color) !important;
}

.s-btn.collapsed {
    border-bottom-left-radius: 35px !important;
    border-bottom-right-radius: 35px !important;
    background-color: var(--backg-color) !important;
    color: rgba(0, 0, 0, 0.25) !important;
    border: 2px solid !important;
    border-color: var(--orang-color) !important;
}

.s-btn.collapsed>p {
    color: var(--black-color) !important;
}

.s-btn.active {
    border-color: var(--orang-color) !important;
}

.accordion-button:not(.collapsed)::after {
    width: 60px;
    height: 60px;
    background-image: url(../images/10_question/minus.png);
    background-size: 60px;
}

.accordion-button.collapsed::after {
    width: 60px;
    height: 60px;
    background-image: url(../images/10_question/plus.png);
    background-size: 60px;
}

.accordion {
    --bs-accordion-border-color: var(--orang-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
    color: var(--white-color) !important;
}

.modal-content {
    background-color: var(--backg-color);
}

.smallTextOnSlide {
    text-shadow: 0px 0px 6px rgb(250, 248, 238);
}

#footerButt {
    background-image: linear-gradient(to top, rgba(250, 248, 238, 1), rgba(250, 248, 238, 0));
}

#footerOpen {
    height: 40px;
}

#footerClose {
    height: 8px;
    background-color: var(--backg-color);
}

figcaption {
    color: var(--backg-color);
}