BODY {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #FAF8EE;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.firstBlock {
    /* Сверху | Справа | Снизу | Слева */
    padding-top: 100px;
}

.block-padding {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.navbar-toggler,
.navbar-toggler:active.focus,
.navbar-toggler:active:focus,
.navbar-toggler:focus {
    border: 0;
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.navbar-nav,
.container-fluid {
    align-items: center;
}

.nav-link {
    margin: 0px 10px;
}

.text-muted {
    font-size: 18px;
}

/*Для кнопок*/
.btn-mainMenu {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
    background-color: #F2762E;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

.btn-orangLight {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    width: 116px;
    height: 48px;
    background-color: #F2762E;
    border: 0;
    box-shadow: 0px 4px 25px rgba(242, 118, 46, 0.5);
    border-radius: 34px;
}

.btn-transparent {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #F2762E;
    width: 179px;
    height: 48px;
    background-color: #FAF8EE;
    border: 2;
    border-color: #F2762E;
    border-radius: 34px;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #000000;
    border-color: #F2762E;
}


.btn-orangLight:hover,
.btn-orangLight:focus,
.btn-mainMenu:hover,
.btn-mainMenu:focus {
    color: #000000;
    background-color: #F2762E;
}

.whiteGradient {
    background-color: #FAF9F2;
    background: linear-gradient(to top, #FAF9F2 0%, #FFFFFF 36%, #FAF9F2 100%);
}

.bigText {
    /* Фрукти та ягоди нового покоління */
    font-family: 'Nunito', sans-serif;

    font-size: 35px;
    font-weight: 700;
    line-height: 100%;

    color: #242426;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.smallText {
    /* Вашому організму потрібні цілі і натуральні фрукти, а не добавки та вітаміни! */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #83898C;
}

.smallTitle {
    width: 100%;
    font-weight: 700;
    font-size: 26px;
    color: #242426;
}

.slide1 {
    background-color: #ffed9a;
}

.slide2 {
    background-color: #fecfd5;
}

.slide3 {
    background-color: #fecfd5;
}

.slidesSettings {
    width: 370px;
    border-radius: 50px;
}

.slideImgOffsetUp {
    margin-top: -40px;
}

.slidesblockOffsetDown {
    margin-top: 40px;
}

.smallTextOnSlide {
    padding-top: 12px;
}

.carousel-caption {
    font-weight: 700;
    font-size: 14px;

    line-height: 100%;
    color: #242426;
    padding-top: 186px;
}

.orang {
    font-size: 36px;
    font-weight: 700;
    color: #F2762E;
    text-shadow: none;
}

@media (min-width: 576px) {
    .firstBlock {
        padding-top: 70px;
    }

    .bigText {
        font-size: 60px;
    }

    .smallText {
        font-size: 18px;
    }

    .orang {
        font-size: 50px;
    }
}

#blockWithPersents {
    background-image: url(../images/3/leaf_shadow.png);
    background-repeat: no-repeat;
}

.white {
    color: #FFFFFF;
    text-shadow: none;
}

.whiteBullet {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
}

.green {
    background-color: #399238;
    border-radius: 50px;
}

.topOffset {
    margin-top: -70px;
}

.bottomOffset {
    margin-top: 50px;
}

.mark {
    background-color: rgba(242, 118, 46, 0.5);
}

.mark2 {
    background-color: rgba(0, 118, 46, 0.5);
}